@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --left-panel-background: #fcfcfcca;

    --component-background: #ebebeb;
    --component-foreground: #0d0d0ddf;
    --component-border-color: #dbdbdb;
    --component-border-selected: #3b82f6;
    --component-background-selected: #3b83f621;

    --main-background: #eeebeb;
    --main-background-2: #e4e2e2;
    --main-background-3: #d3d2d2;

    --main-foreground: #1C1D26;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --left-panel-background: #0b0c10cc;

    --component-background: #252532;
    --component-foreground: #dbd9d9;
    --component-border-color: #2f2f2f;
    --component-border-selected: #2563eb;
    --component-background-selected: #2f3a9b2c;

    --main-background: #1C1D26;
    --main-background-2: #20222d;
    --main-background-3: #303344;
    
    --main-foreground: #dddddd;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  
  html, body {
    height: 100%;
    overflow: hidden;
  }
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #363a4d;
  border-radius: 10px;
}

html,
body,
#root {
  height: 100%;
  font-size: 0.9rem;
}
